$black: #1c1b1f;
$purple: #40196d;
$lightpurple: #f2f2fb;
$gold: gold;
$green: #00d0aa;
$darkgrey: #25262a;
$lightgrey: #2d2e32;
$desktoppadding: 0em 3em;
$largetabletpadding: 0em 2em;
$smalltabletpadding: 0em 1.5em;
$mobilepadding: 0em 1em;
$testborder: 1px solid red;
