@charset "UTF-8";
@import "schema";

main {
  margin-top: 6em;
}

nav {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: $desktoppadding;
  padding-top: 1em;
  padding-bottom: 1em;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.075);
  z-index: 99;

  .nav-left {
    display: flex;
    width: 30%;
  }

  .nav-right {
    display: flex;
    width: 70%;
    justify-content: right;
    gap: 2em;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $black;
      font-weight: 600;
      text-decoration: none;
      transition: 0.2s;
      gap: 0.5em;
      padding-bottom: 0.4em;
      border-bottom: 2px solid transparent;

      &:hover {
        color: $blue;
      }
    }

    .active {
      color: $blue;
      border-bottom: 2px solid $blue;
    }

    #account {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-weight: 600;
      background-color: $blue;
      border: 1.25px solid $blue;
      padding: 0.5em 0.85em;
      border-radius: 0.5em;
      transition: all 0.3s;

      &:hover {
        transform: translateY(-4px);
      }
    }
  }

  .mobile-nav-toggle {
    display: none;
  }
}

.homepage {
  display: flex;
  flex-direction: column;
  padding: $desktoppadding;

  .hero-container {
    display: flex;
    width: 100%;
    gap: 2em;
    margin-top: 3em;
    margin-bottom: 6em;

    .hero-left {
      display: flex;
      flex-direction: column;
      gap: 1em;
      width: 45%;

      h1 {
        color: $black;
        font-size: 3rem;
        font-weight: 800;
      }
    }

    .hero-right {
      display: flex;
      flex-direction: column;
      width: 55%;
    }
  }

  .subjects-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;

    h2 {
      font-size: 1.75rem;
      color: $black;
    }

    .subjects-container-sub {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 80%;
      gap: 2em;

      .subject {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        padding: 1em;
        width: 31%;
        background-color: $blue;
        color: white;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 0.5em;
        transition: 0.3s;

        &:hover {
          background-color: $lightblue;
        }
      }
    }
  }
}
