main {
  margin-top: 5em;
  margin-bottom: 10em;
}

nav {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 0em 3em;
  padding-top: 1em;
  padding-bottom: 1em;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.075);
  z-index: 99;
}
nav .nav-left {
  display: flex;
  width: 30%;
}
nav .nav-right {
  display: flex;
  width: 70%;
  justify-content: right;
  gap: 2em;
}
nav .nav-right a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1c1b1f;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s;
  gap: 0.5em;
  padding-bottom: 0.4em;
  border-bottom: 2px solid transparent;
}
nav .nav-right a:hover {
  color: #002769;
}
nav .nav-right .active {
  color: #002769;
  border-bottom: 2px solid #002769;
}
nav .nav-right #account {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  background-color: #002769;
  border: 1.25px solid #002769;
  padding: 0.5em 0.85em;
  border-radius: 0.5em;
  transition: all 0.3s;
}
nav .nav-right #account:hover {
  transform: translateY(-4px);
}
nav .mobile-nav-toggle {
  display: none;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 0em 3em;
  padding-top: 3em;
  padding-bottom: 3em;
  gap: 1em;
  margin-top: 6em;
  background-color: #0e46a7;
}
footer .footer-info {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 1em;
}
footer .footer-info img {
  width: 80%;
}
footer .footer-info p {
  color: white;
  font-weight: 500;
  margin: 0;
}
footer .footer-info .icon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-info .icon-container span:hover {
  cursor: pointer;
}
footer .footer-info h3 {
  color: #FFC30D;
  font-size: 1.25rem;
  font-weight: 900;
  margin: 0;
}
footer .footer-info a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}
footer .footer-info a:hover {
  color: #FFC30D;
  transform: translateX(5px);
}

#footer-end {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e46a7;
  padding: 0em 3em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
#footer-end p {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 0;
  color: white;
}

.homepage {
  display: flex;
  flex-direction: column;
}
.homepage .hero-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2em;
  background-color: #002769;
  margin-bottom: 6em;
  padding: 0em 3em;
  padding-top: 4em;
  padding-bottom: 4em;
}
.homepage .hero-container .hero-left {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 55%;
}
.homepage .hero-container .hero-left h1 {
  color: white;
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
  width: 90%;
}
.homepage .hero-container .hero-left p {
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
}
.homepage .hero-container .hero-left button {
  background-color: #0e46a7;
  width: -moz-max-content;
  width: max-content;
  padding: 0.75em 1.5em;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5em;
  transition: 0.3s;
}
.homepage .hero-container .hero-left button:hover {
  background-color: white;
  color: #002769;
}
.homepage .hero-container .hero-right {
  display: flex;
  width: 45%;
  justify-content: right;
}
.homepage .hero-container .hero-right img {
  width: 100%;
}
.homepage .subjects-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}
.homepage .subjects-container h2 {
  font-size: 1.75rem;
  color: #1c1b1f;
}
.homepage .subjects-container .subjects-container-sub {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 75%;
  gap: 2em;
}
.homepage .subjects-container .subjects-container-sub .subject {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 2em 0.5em;
  width: 30%;
  background-color: #002769;
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  border-radius: 0.5em;
  box-shadow: 0 4px 13px 2px rgba(0, 0, 0, 0.075);
  transition: 0.3s;
}
.homepage .subjects-container .subjects-container-sub .subject:hover {
  background-color: #0e46a7;
}/*# sourceMappingURL=desktop.css.map */