@charset "UTF-8";
@import "schema";

main {
  margin-top: 5em;
  margin-bottom: 10em;
}

nav {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: $desktoppadding;
  padding-top: 1em;
  padding-bottom: 1em;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.075);
  z-index: 99;

  .nav-left {
    display: flex;
    width: 30%;
  }

  .nav-right {
    display: flex;
    width: 70%;
    justify-content: right;
    gap: 2em;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $black;
      font-weight: 600;
      text-decoration: none;
      transition: 0.2s;
      gap: 0.5em;
      padding-bottom: 0.4em;
      border-bottom: 2px solid transparent;

      &:hover {
        color: $blue;
      }
    }

    .active {
      color: $blue;
      border-bottom: 2px solid $blue;
    }

    #account {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-weight: 600;
      background-color: $blue;
      border: 1.25px solid $blue;
      padding: 0.5em 0.85em;
      border-radius: 0.5em;
      transition: all 0.3s;

      &:hover {
        transform: translateY(-4px);
      }
    }
  }

  .mobile-nav-toggle {
    display: none;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  padding: $desktoppadding;
  padding-top: 3em;
  padding-bottom: 3em;
  gap: 1em;
  margin-top: 6em;
  background-color: $blue;

  .footer-info {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 1em;

    img {
      width: 80%;
    }

    p {
      color: white;
      font-weight: 500;
      margin: 0;
    }

    .icon-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span:hover {
        cursor: pointer;
      }
    }

    h3 {
      color: $gold;
      font-size: 1.25rem;
      font-weight: 900;
      margin: 0;
    }

    a {
      color: white;
      font-weight: 500;
      text-decoration: none;
      transition: all ease-in-out 0.3s;

      &:hover {
        color: $gold;
        transform: translateX(5px);
      }
    }
  }
}

#footer-end {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  padding: $desktoppadding;
  padding-top: 1.5em;
  padding-bottom: 1.5em;

  p {
    font-size: 0.875rem;
    font-weight: 500;
    margin: 0;
    color: white;
  }
}

.homepage {
  display: flex;
  flex-direction: column;

  .hero-container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2em;
    background-color: $blue;
    margin-bottom: 6em;
    padding: $desktoppadding;
    padding-top: 4em;
    padding-bottom: 4em;

    .hero-left {
      display: flex;
      flex-direction: column;
      gap: 1em;
      width: 55%;

      h1 {
        color: white;
        font-size: 3rem;
        font-weight: 800;
        margin: 0;
        width: 90%;
      }

      p {
        font-size: 1.1rem;
        font-weight: 500;
        color: white;
      }

      button {
        background-color: $lightblue;
        width: max-content;
        padding: 0.75em 1.5em;
        color: white;
        font-family: inherit;
        font-size: 1rem;
        font-weight: 600;
        border: none;
        border-radius: 0.5em;
        transition: 0.3s;

        &:hover {
          background-color: white;
          color: $blue;
        }
      }
    }

    .hero-right {
      display: flex;
      width: 45%;
      justify-content: right;

      img {
        width: 100%;
      }
    }
  }

  .subjects-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;

    h2 {
      font-size: 1.75rem;
      color: $black;
    }

    .subjects-container-sub {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 75%;
      gap: 2em;

      .subject {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
        padding: 2em 0.5em;
        width: 30%;
        background-color: $blue;
        color: white;
        font-size: 1.4rem;
        font-weight: 400;
        border-radius: 0.5em;
        box-shadow: 0 4px 13px 2px rgba(0, 0, 0, 0.075);
        transition: 0.3s;
        text-decoration: none;

        &:hover {
          background-color: $lightblue;
        }
      }
    }
  }
}

.schools-container {
  display: flex;
  flex-direction: column;
  padding: $desktoppadding;
  padding-top: 3em;
  gap: 3em;

  h1 {
    color: $black;
    margin: 0;
  }

  p {
    font-size: 1.2rem;
    font-weight: 600;
    color: $black;
    margin: 0;
  }

  .classes-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid #dcdcdc7d;
    box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.1);
    padding: 1em;
    border-radius: 0.5em;

    .classes-sub {
      display: flex;
      flex-direction: column;

      .class {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.75em 0.5em;
        background-color: rgb(227, 227, 227);
        border-radius: 0.1em;
        font-weight: 500;
        gap: 1em;

        span {
          display: flex;
          flex-wrap: wrap;
          width: 20%;
        }

        button {
          font-family: inherit;
          background-color: $lightblue;
          border: none;
          outline: none;
          color: white;
          padding: 0.75em 1.5em;
          border-radius: 0.25em;
          transition: 0.3s;

          &:hover {
            background-color: $blue;
            transform: translateY(2.5px);
          }
        }
      }

      .class:nth-child(even) {
        background-color: rgb(160, 160, 160);
      }
    }
  }

  .create-class {
    display: flex;
    flex-direction: column;
    gap: 1em;

    h2 {
      color: $black;
      margin: 0;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1em;

      .form-group {
        display: flex;
        align-items: center;
        gap: 1em;

        label {
          width: 100px;
        }

        input,select {
          padding: 0.5em 1.5em;
          outline: none;
          width: max-content;
        }
      }

      button {
        width: max-content;
        font-family: inherit;
        font-size: 1rem;
        background-color: $lightblue;
        border: none;
        outline: none;
        color: white;
        padding: 0.75em 1.5em;
        border-radius: 0.25em;
        transition: 0.3s;
        margin-top: 2em;

        &:hover {
          background-color: $blue;
        }
      }
    }
  }
}
